/* IMPORT */
@font-face {
    font-family: "Pangram";
    src: url("../font/Pangram-Black.otf");
}

/* RESET */
html, body{
    background-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0.2);
}

h1, h2, h3, h4, h5, h6{
    font-family: "Pangram", sans-serif;
    color: #1a1a1a;
}

p{
    font-family: "Yu Gothic UI", sans-serif;
    color: #1b1b1b;
}

span{
    font-family: "Yu Gothic UI Light", sans-serif;
    color: #333;
}

/* CUSTOMIZE BOOTSTRAP */
.btn{
    background-color: #21C7A7 !important;
    border-color: #21C7A7 !important;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Helvetica;
    border-radius: .9375rem !important;
}

.btn-outlined{
    cursor: pointer;
    background-color: transparent !important;
    color: #21C7A7 !important;
    border: 1px solid #21C7A7 !important;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Helvetica;
    border-radius: .9375rem !important;
}

.label{
    font-size: 14px;
    margin-bottom: 3px;
}

textarea{
    font-size: 14px;
}

/* PAGES */
.page{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none !important;
}

.page.active{
    display: flex !important;
}

#login_page{
    background: #b967d9;
}

#main_page{
    background-color: #f7f7f7;
    display: grid;
    grid-template-rows: 56px auto;
}

/* NAVBAR */
#navbar{
    border-left: 5px #9040DE solid;
    box-shadow: 0 4px 10px rgba(0,0,0,.2);
    position: sticky;
    top: 0;
}

h5{
    color: #9040DE;
}

#btn-sidebar{
    background: none !important; border: none !important;
}

#btn-sidebar:focus{
    box-shadow: none !important;
}

/* SIDEBAR */
#sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
    transition: .4s all;
}

#sidebar.active{
    z-index: 1000;
}

#sidebar .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
}

#sidebar .content{
    box-shadow: 0 4px 10px rgba(0,0,0,.2);
    position: absolute;
    top: 0;
    left: -100%;
    overflow: hidden;
    height: 100vh;
    width: 75vw;
    background-color: #fff;
    transition: .2s all ease-in-out;
}

#sidebar .content.active{
    left: 0;
}

.user-info{
    box-shadow: 0 4px 10px rgba(0,0,0,.2);
}

#sidebar .content .user-info .logo{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #21C7A7;
}

#sidebar .content .user-info .logo svg{
    width: 30px;
    fill: #fff;
}

#sidebar .content .items{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#sidebar .content .items .item{
    background-color: #F5E8F9;
    border: 1px solid #eee;
    padding: 15px 20px;
    font-weight: bolder;
    border-radius: 8px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

#sidebar .content .items .item p{
    margin: 0;
    font-size: 15px;
}

#sidebar .content .items .item svg{
    fill: #333;
    width: 17px;
}

/* = CARDS = */
.card-perizia{
    background-color: #fff;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
}

.card-perizia span{
    display: block;
    margin-top: -4px;
}

.card-perizia:not(:last-of-type){
    margin-bottom: 15px;
}

/* = CAROUSEL = */
.btn-carousel{
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btn-carousel:focus{
    outline: none !important;
}

.btn-carousel svg{
    width: 15px;
    fill: #fff;
}

#img[src='null']{
    min-width: 100%;
    text-align: center;
    padding: 40px 0;
}

#img[alt][src='null'] {
    margin-left: -25px;
    text-indent: 25px;
}
